---
// Button.astro
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="flex justify-center">
  <p
    class="text-center text-sm sm:my-4 lg:my-8 px-4 py-1 bg-third-color rounded-2xl text-principal-color"
  >
    {text}
  </p>
</div>
