<footer
  class="w-full flex items-center justify-center bg-dark-one px-6 lg:px-12 xl:px-24"
>
  <p class="p-2 text-gray-2 text-principal-color text-center">
    &copy; 2024 Diseñado y desarrollado por Torales Javier
  </p>
</footer>
