---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/portfolio/Header.astro";
import Home from "../components/portfolio/Home.astro";
import AboutMe from "../components/portfolio/AboutMe.astro";
import Projects from "../components/portfolio/Projects.astro";
import Footer from "../components/portfolio/Footer.astro";
import Contact from "../components/portfolio/Contact.astro";

export const standar = " py-4 px-6 md:px-12 lg:px-18 xl:px-40";
---

<Layout title="ToralesJ's Website">
  <div class={"bg-dark-one" + standar} id="home">
    <Nav />
    <Home />
  </div>
  <AboutMe />
  <Projects />
  <Contact />
  <Footer />
</Layout>
