<div class="w-full h-[35em] px-6 lg:px-12 xl:px-24 flex flex-wrap">
  <div
    class="w-full lg:w-1/2 sm:h-[18em] h-full flex justify-center items-center"
  >
    <img
      src="https://esi.uclm.es/assets/uploads/2024/05/alumnos_minecraft.jpg"
      alt="Profile image"
      class="w-[18em] h-[18em] lg:w-[25em] lg:h-[25em] shadow-2xl shadow-gray-800"
    />
  </div>
  <div class="w-full lg:w-1/2 sm:mt-10 flex flex-col justify-center">
    <h2 class="text-xl text-bold">Curius about me? Here you have it:</h2>
    <p class="text-16 text-gray-600">
      <br />
      I'm a Fullstack Java Developer with a year and a half of experience building
      applications, using various technologies both on the frontend and backend.
      I have experience in Java and Spring Boot, as well as the use of the JPA ORM
      for interaction with MySQL on the backend, and in React.js, Next.js, and Tailwind
      for the frontend.
      <br />
      <br />

      I'm a Fullstack Java Developer with a year and a half of experience
      building applications, using various technologies both on the frontend and
      backend. I have experience in Java and Spring Boot, as well as the use of
      the JPA ORM for interaction with MySQL on the backend, and in React.js,
      Next.js, and Tailwind for the frontend.
      <br />
      <br />

      I'm a Fullstack Java Developer with a year and a half of experience
      building applications, using various technologies both on the frontend and
      backend. I have experience in Java and Spring Boot, as well as the use of
      the JPA ORM for interaction with MySQL on the backend, and in React.js,
      Next.js, and Tailwind for the frontend. <br />
      <br />
      Finally, I'm a Fullstack Java Developer.
    </p>
    <ul
      class="list-disc pl-2 grid sm:grid-cols-1 lg:grid-cols-2 gap-4 w-5/6 text-gray-600 mt-2"
    >
      <li class="list-inside">using various technologies</li>
      <li class="list-inside">using various technologies</li>
      <li class="list-inside">using various technologies</li>
      <li class="list-inside">using various technologies</li>
    </ul>
  </div>
</div>
