---
import DefaultP from "./DefaultP.astro";
---

<section
  id="contact"
  class="w-full h-auto bg-second-color dark:bg-dark-two px-6 lg:px-12 xl:px-24"
>
  <DefaultP text="Get in touch" />
  <p class="text-center dark:text-gray-1">
    What is the next? you can get the best wbsite if you wanna rock and roll My
    <br />
    best musician is Ray charles, that's why you should text me
  </p>
  <p class="text-center dark:text-gray-1 text-sm mt-4">
    u cand find me on my social media
  </p>
  <div class="py-4"></div>
</section>
