---
import DefaultP from "./DefaultP.astro";
---

<section
  id="contacto"
  class="w-full h-auto bg-second-color dark:bg-dark-two px-6 lg:px-12 xl:px-24"
>
  <DefaultP text="Contacto" />

  <div class="flex justify-center items-center">
    <div class="w-[35em] h-auto mb-10">
      <div class="w-full sm:flex-wrap md:flex md:flex-row gap-6">
        <input
          name="name"
          placeholder="Nombre"
          class="w-full lg:w-1/2 sm:mt-8 mt-5 border-b-2 border-gray-1 bg-transparent outline-none text-gray-1 p-1"
        />
        <input
          name="lastname"
          placeholder="Apellido"
          class="w-full lg:w-1/2 sm:mt-8 mt-5 border-b-2 border-gray-1 bg-transparent outline-none text-gray-1 p-1"
        />
      </div>
      <input
        name="email"
        placeholder="Email"
        class="w-full border-b-2 border-gray-1 bg-transparent outline-none py-1 text-gray-1 mt-5 sm:mt-8"
      />
      <textarea
        name="message"
        placeholder="Mensaje"
        class="w-full h-24 border-b-2 border-gray-1 bg-transparent outline-none py-1 text-gray-1 mt-5 sm:mt-10 mb-10 resize-none"
      ></textarea>
      <button
        id="contact"
        class="w-full rounded rounded-xl bg-dark-one px-2 p-2 text-principal-color"
      >
        Enviar mensaje</button
      >
    </div>
  </div>
</section>
