<div class="relative inline-block text-left group">
  <div>
    <button
      type="button"
      class="inline-flex w-full justify-center items-center text-gray-1 dark:text-white"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <p>Más</p>
      <svg
        class="mr-2 h-5 w-5 text-gray-1 dark:text-white"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>

  <div
    class="hidden absolute left-0 z-10 mt-2 w-40
     rounded-md bg-gray-1 dark:bg-dark-two group-hover:block"
    role="menu"
    id="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      <a
        href="/blog"
        class="block px-4 py-2 text-sm text-principal-color hover:text-gray-2"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0">Blog</a
      >
      <a
        href="#"
        class="block px-4 py-2 text-sm text-principal-color hover:text-gray-2"
        role="menuitem"
        tabindex="-1"
        id="menu-item-1">English's website</a
      >
      <a
        href="#"
        class="block px-4 py-2 text-sm text-principal-color hover:text-gray-2"
        role="menuitem"
        tabindex="-1"
        id="menu-item-1"
      >
        Chess's website
      </a>
    </div>
  </div>
</div>
<style>
  @keyframes drawLine {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .menu::hover {
    transition: width 0.3s ease; /* Transición suave */
  }
</style>
