<footer
  class="w-full flex items-center justify-center bg-principal-color dark:bg-dark-one px-6 lg:px-12 xl:px-24"
>
  <p class="p-2 text-gray-2 dark:text-principal-color text-center">
    &copy; 2024 Designed and developed by ToralesJ
  </p>
</footer>
