<div class="sm:w-full sm:flex sm:justify-center">
  <img
    src="https://res.cloudinary.com/apxschool/image/upload/v1708987293/us9nkdrg5sfs0eg3zz3o.jpg"
    alt="Profile image"
    class="w-64 h-64 shadow-2xl shadow-gray-800"
  />
</div>
