---
import { navLinks } from "../es";
---

<div
  id="mobileMenu"
  class="hidden lg:hidden sm:h-auto w-full bg-gray-2 dark:bg-dark-two dark:text-principal-color absolute top-16 left-0 overflow-hidden transition-height"
>
  <ul class="lg:flex flex-col gap-6">
    {
      navLinks.map((link) => (
        <li class="px-3 py-4 text-xl text-principal-color">
          <a href="#aboutme">{link.text}</a>
        </li>
      ))
    }
  </ul>
  <div class="flex justify-center">
    <button
      class="material-icons change text-principal-color pb-4"
      id="buttonBurgger">flare</button
    >
  </div>
</div>
<script>
  const menuButton = document.getElementById("menuButton");
  const mobileMenu = document.getElementById("mobileMenu");
  menuButton?.addEventListener("click", () => {
    console.log("click");
    mobileMenu?.classList.toggle("hidden");
  });
</script>
