---
import MovileNav from "./MovileNav.astro";
import Dropdown from "./Dropdown.astro";
import NavLink from "../ui/NavLink.astro";
import { navLinks } from "../es";
---

<nav
  class="w-full flex flex-row justify-between items-center sm:relative dark:bg-dark-one py-2"
>
  <a href="#home">
    <img
      src="https://res.cloudinary.com/apxschool/image/upload/v1721274096/logoSinFondo_b677mv.png"
      alt="Logo"
      class="w-10 dark:hidden"
    />
    <img
      src="https://res.cloudinary.com/apxschool/image/upload/v1721482747/logoSinFondoBlanco_lawv9c.png"
      alt="Logo"
      class="w-10 hidden dark:block"
    />
  </a>

  <ul class="hidden lg:flex flex-row gap-6">
    {navLinks.map((link) => <NavLink text={link.text} hreft={link.hreft} />)}

    <Dropdown />
  </ul>
  <div class="hidden lg:flex flex-row items-center gap-2">
    <button
      class="material-icons text-dark-two dark:text-principal-color change sm:hidden"
      id="change">flare</button
    >

    <button
      id="downloadCV"
      class="rounded rounded-xl bg-dark-two px-2 p-2 text-principal-color"
      ><a
        href="https://drive.google.com/file/d/1ym7uaqEs6gJBz6koi4R0r3PTduYpQEvt/view?usp=sharing"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ver CV
      </a></button
    >
  </div>
  <button id="menuButton" class="lg:hidden">
    <span class="material-icons dark:text-principal-color">menu</span>
  </button>
</nav>
<MovileNav />
<script>
  const button = document.getElementById("change");
  const buttonBurgger = document.getElementById("buttonBurgger");

  button?.addEventListener("click", () => {
    changeTheme();
  });
  buttonBurgger?.addEventListener("click", () => {
    changeTheme();
  });
  function changeTheme() {
    document.documentElement.classList.toggle("dark");
    localStorage.setItem(
      "theme",
      document.documentElement.classList.contains("dark") ? "dark" : "light"
    );
  }
</script>
