---

---

<nav class="h-16 w-full flex flex-row justify-between items-center lg:pt-3">
  <img
    src="https://res.cloudinary.com/apxschool/image/upload/v1721274096/logoSinFondo_b677mv.png"
    alt="Logo"
    class="w-10"
  />
  <ul class="hidden lg:flex flex-row gap-6">
    <a href="#aboutme">
      <li class="text-gray-2">About me</li>
    </a>
    <a href="#aboutme">
      <li class="text-gray-2">Contact</li>
    </a>
    <a href="#aboutme">
      <li class="text-gray-2">Blog</li>
    </a>
    <a href="#aboutme">
      <li class="text-gray-2">Services</li>
    </a>
  </ul>
  <div class="hidden lg:flex flex-row items-center gap-2">
    <button class="material-icons text-third-color change" id="change"
      >flare</button
    >

    <button class="rounded rounded-xl bg-third-color p-2 text-principal-color"
      >Download CV</button
    >
  </div>
  <button class="lg:hidden">
    <span class="material-icons">menu</span>
  </button>
</nav>

<script>
  const button = document.getElementById("change");
  button?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    localStorage.setItem(
      "theme",
      document.documentElement.classList.contains("dark") ? "dark" : "light"
    );
  });
</script>
