<nav class="h-16 w-full flex flex-row justify-between items-center">
  <img
    src="https://res.cloudinary.com/apxschool/image/upload/v1721274096/logoSinFondo_b677mv.png"
    alt="Logo"
    class="w-10"
  />
  <ul class="hidden lg:flex flex-row gap-5">
    <li>Home</li>
    <li>Contact</li>
    <li>Blog</li>
    <li>Services</li>
  </ul>
  <div class="hidden lg:flex flex-row items-center gap-2">
    <span class="material-icons">flare</span>
    <button class="rounded rounded-xl bg-gray-300 p-2">Download CV</button>
  </div>
  <button class="lg:hidden">
    <span class="material-icons">menu</span>
  </button>
</nav>
