<div class="w-full sm:h-[50em] lg:h-[25em]">
  <div class="flex justify-center">
    <p class="text-center sm:my-4 lg:my-8 px-4 py-2 bg-gray-300 rounded-2xl">
      Projects
    </p>
  </div>
  <p class="text-center text-gray-600">Some of my new projects ja hsi usdao</p>
  <div class="w-full h-full flex flex-wrap mt-10 shadow-2xl justify-center">
    <div
      class="sm:w-full lg:w-1/2 sm:h-1/4 lg:h-full bg-gray-100 flex justify-center items-center"
    >
      <div class="video-container">
        <iframe
          id="hover-video"
          src="https://www.youtube.com/embed/QuW5jvrEyGA?autoplay=1&mute=1&modestbranding=1&showinfo=0&rel=0"
          allow="autoplay; fullscreen"
          allowfullscreen
          class="w-full h-full"></iframe>
      </div>
    </div>
    <div
      class="sm:w-full lg:w-1/2 sm:h-[28em] lg:h-full sm:px-5 flex flex-col lg:p-7"
    >
      <h2 class="text-xl font-bold">Sistema de stock y ventas</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, eius
        enim iusto esse possimus eligendi dolore porro? Id, modi quo ipsams
        doloribus perspiciatis blanditiis quod sit sint exercitationem veniam
        numquam.
      </p>
      <div class="mt-5">
        <ul class="w-2/3 flex flex-wrap gap-4">
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            React
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">Node</li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            Express
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            MongoDB
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">JWT</li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            Material UI
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            React Router
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            React Hook Form
          </li>
        </ul>
      </div>
      <div class="mt-4">
        <a
          class="flex gap-2 items-center"
          href="https://github.com/JtoralesK/back-api-shop"
          target="_blank"
        >
          <i class="fa-solid fa-link"> </i>Proyecto Backend Github</a
        >
        <a
          class="flex gap-2 items-center mt-2"
          href="https://github.com/JtoralesK/Shop-App-Front"
          target="_blank"
        >
          <i class="fa-solid fa-link"> </i>Proyecto Frontend Github</a
        >
      </div>
    </div>
    <div></div>
  </div>
</div>

<style>
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
