---
import DefaultP from "./DefaultP.astro";
import { standar } from "../pages/index.astro";
---

<div
  class={"w-full sm:h-auto lg:h-screen dark:bg-dark-one pb-10" + standar}
  id="projects"
>
  <DefaultP text="Projects" />
  <p class="text-center text-gray-600">Some of my new projects ja hsi usdao</p>
  <div class="w-full h-auto flex flex-wrap mt-10 shadow-2xl justify-center">
    <div
      class="sm:w-full lg:w-1/2 lg:h-[25em] bg-gray-100 flex justify-center items-center dark:bg-dark-three"
    >
      <div class="w-full h-full flex justify-center items-center">
        <iframe
          id="hover-video"
          src="https://www.youtube.com/embed/QuW5jvrEyGA?autoplay=1&mute=1&modestbranding=1&showinfo=0&rel=0"
          allow="autoplay; fullscreen"
          class="w-full h-full"></iframe>
      </div>
    </div>
    <div
      class="sm:w-full lg:w-1/2 sm:h-[38em] lg:h-[25em] sm:px-5 flex flex-col lg:p-7 dark:bg-dark-two justify-center"
    >
      <h2 class="text-xl font-bold dark:text-principal-color">
        Sistema de stock y ventas
      </h2>
      <p class="dark:text-principal-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, eius
        enim iusto esse possimus eligendi dolore porro? Id, modi quo ipsams
        doloribus perspiciatis blanditiis quod sit sint exercitationem veniam
        numquam.
      </p>
      <div class="mt-5">
        <ul class="w-2/3 flex flex-wrap gap-4">
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            React
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">Node</li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            Express
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            MongoDB
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">JWT</li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            Material UI
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            React Router
          </li>
          <li class="p-2 bg-gray-300 rounded-xl text-sm text-gray-600">
            React Hook Form
          </li>
        </ul>
      </div>
      <div class="mt-4">
        <a
          class="flex gap-2 items-center dark:text-principal-color"
          href="https://github.com/JtoralesK/back-api-shop"
          target="_blank"
        >
          <i class="fa-solid fa-link"> </i>Proyecto Backend Github</a
        >
        <a
          class="flex gap-2 items-center mt-2 dark:text-principal-color"
          href="https://github.com/JtoralesK/Shop-App-Front"
          target="_blank"
        >
          <i class="fa-solid fa-link r"> </i>
          Proyecto Frontend Github</a
        >
      </div>
    </div>
    <div></div>
  </div>
</div>
