<main
  class="w-full lg:w-8/12 h-screen shadow-dark-two shadow-xl shadow-[2px_4px_6px_2px]"
>
  <section class="px-5 py-4">
    <h2 class="text-white text-2xl font-normal h-1/6">
      Últimos artículos y tutoriales
    </h2>
  </section>
</main>
